div{width:70%; margin-left:15%}
h1{text-align:center;text-transform: capitalize;color:#DDA853}
p{text-align:center; color:#F5EEDC}
html{font-family: "Poetsen One", sans-serif; background-color:#183B4E}
img{width:100%; border:5px solid #27548A}